body, html {
    margin: 0;
    padding: 0;
}

.some-shop {
    padding: 50px 0 50px 20px;
    font-weight: bold;
    font-size: 72pt;
    color: lightgray;
}

.button {
    color: white;
    background-color: black;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: x-large;
    user-select: none;
}

.button:hover {
    cursor: pointer;
}